@font-face {
    font-family: Orbitron;
    src: url(../assets/font/Orbitron/Orbitron-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 1%;
    text-align: center;
}

.title {
    letter-spacing: 0.2em;
    font-family: Orbitron, Arial, sans-serif;
    color: #0cf;
    text-shadow: 0 0 0.5rem #0cf;
}

.big-font {
    font-size: 3.5rem;
}

.small-font {
    font-size: 2.5rem;
}

.normal-font {
    font-size: 1.5rem;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.logo-img {
    display: block;
    max-width: 13%;
    height: auto;
    padding-bottom: 2rem;
}

.option-container {
    display: block;
    position: relative;
    top: 10vh;
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

.options-row {
    display: flex;
    justify-content: space-between;
}

.option {
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.option p {
    margin: 0.5rem 0;
    font-size: 2rem;
}

.option:hover {
    transform: scale(1.3);
}

a {
    text-decoration: none;
    color: inherit;
}

.settings-container{
    display: none;
    position: relative;
    top: 10vh;
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

.rules-container{
    display: none;
    position: relative;
    max-width: 85%;
    margin: 0 auto;
    padding: 0rem;
}

.option-static {
    text-align: center;
    cursor: pointer;
}

.fas{
    margin-top: 4vh;
}

#volumeNo{
    display: none;
}